Repository tomochain/docs, pull requests merged in 2019-02, with the labels that each got.

#132 Rework masternode hierarchy
  mkdocs.yml
Labels: platform/docs, review

#134 Add transaction fee
  docs/general/networks.md
Labels: review

#135 add create-tomochain-masternode doc
  docs/masternode/create-tomochain-masternode.md
Labels: format/documentation, platform/docs, review
